@import "~assets/styles/variable.less";
.slider_box {
  top: @left_top;
  left: 0;
  height: calc(100% - @header_height);
  width: @left_widht;
  background: @left_bg;
  color: @left_color;
}
.sub_icon {
  font-size: @left_icon_size;
  line-height: 1;
  margin-bottom: calc(@paddind / 2);
}
.sub_item {
  padding: @paddind 0;
}
.sub_active {
  color: @left_active_color;
}
.sub_active_name{
  color: @left_active_color;
}