@header_height: 72px;
@header_bg:rgb(13, 41, 92) ;
@header_color: rgb(255, 255, 255);
@header_fontSize:22px;
@left_widht: 96px;
@left_top: @header_height;
@left_bg: rgb(4, 17, 41);
@left_color: rgb(255, 255, 255);
@left_active_color:rgb(5, 90, 248);
@left_active_munue:rgb(13, 41, 92);
@left_icon_size:26px;
@content_bg: rgb(255, 255, 255);
@content_color: rgb(97, 96, 96);
@paddind: 20px;
@contain_bg:rgb(229, 226, 226);
@login_from_bg:rgba(255,255,255,0.7);
@login_title_size:22px;
