@header_height: 72px;
@header_bg:rgb(13, 41, 92) ;
@header_color: rgb(255, 255, 255);
@header_fontSize:22px;
@left_widht: 72px;
@left_top: @header_height;
@left_bg: rgb(4, 17, 41);
@left_color: rgb(255, 255, 255);
@content_bg: rgb(255, 255, 255);
@content_color: rgb(97, 96, 96);
@paddind: 20px;
@contain_bg:rgb(229, 226, 226);
